<section class="section-dark p-0" aria-label="section">
    <div class="bg-color text-light d-flex py-4 lh-1 rot-2">
        <om-marquee [animationDuration]="'20s'" [pauseOnHover]="true" [marqueeGap]="'2rem'">
            <ng-template>
                <div class="de-marquee-list-2 fadeInUp fadeInRight" data-aos="fade-up" data-aos-delay="300">
                    <span class="fs-60 mx-3">Inovace v e-commerce</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Budoucnost komunikace</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Inovace v praxi</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Od nápadu k produktu</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Tvořte budoucnost</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Hackathon víkend</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                </div>
            </ng-template>
        </om-marquee>

    </div>

    <div class="bg-color-2 text-light d-flex py-4 lh-1 rot-min-1 mt-min-20">
        <om-marquee [animationDuration]="'25s'" [pauseOnHover]="true" [marqueeGap]="'2rem'">
            <ng-template>
                <div class="de-marquee-list-2 fadeInUp fadeInRight" data-aos="fade-up" data-aos-delay="300">
                    <span class="fs-60 mx-3">MIME Digital</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Brno 2026</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Týmová práce</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">MIME Digital</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Brno 2026</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                    <span class="fs-60 mx-3">Týmová práce</span>
                    <span class="fs-60 mx-3 op-2">/</span>
                </div>
            </ng-template>
        </om-marquee>

    </div>
</section>