<section id="section-about" class="bg-dark section-dark text-light">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="me-lg-5 pe-lg-5 py-lg-5 my-lg-5 py-3 my-0">
                    <div class="subtitle fadeInUp" data-aos="fade-up" data-aos-delay="200">O akci</div>
                    <h2 class="fadeInUp" data-aos="fade-up" data-aos-delay="400">Hackathon pro inovátory e-mailové komunikace
                    </h2>
                    <p class="fadeInUp" data-aos="fade-up" data-aos-delay="600">Přidejte se k vývojářům, designérům a podnikatelům, kteří během jednoho víkendu vytvoří funkční MVP produktu zaměřeného na e-mailovou komunikaci.</p>

                    <ul class="ul-check">
                        <li class="fadeInUp" data-aos="fade-up" data-aos-delay="800">3 dny intenzivní práce na reálném projektu</li>
                        <li class="fadeInUp" data-aos="fade-up" data-aos-delay="900">Mentoři a odborníci v oboru</li>
                        <li class="fadeInUp" data-aos="fade-up" data-aos-delay="1000">Prezentace a hodnocení projektů
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10 mx-auto">
                <div class="fadeInUp scaleIn">
                    <img src="assets/images/misc/c1.webp" class="w-100 rotate-animation" alt="">
                </div>
            </div>


        </div>
    </div>
</section>