<section class="bg-dark section-dark pt-80 relative jarallax" aria-label="section">
    <img src="assets/images/background/1.webp" class="jarallax-img" alt="">
    <div class="gradient-edge-top"></div>
    <div class="gradient-edge-bottom"></div>
    <div class="sw-overlay op-8"></div>

    <div class="container">
        <div class="row g-4">
            <div class="col-md-12 fadeInUp">
                <div class="no-alpha mask-right" #testimonialCarousel>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/1.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/2.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/3.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/4.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/5.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/6.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/7.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/8.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/9.webp" class="w-100 px-4" alt="">
                        </div>
                        <div class="swiper-slide bg-transparent">
                            <img src="assets/images/logo-light/10.webp" class="w-100 px-4" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>