<section id="section-hero" class="section-dark no-top no-bottom text-light jarallax relative mh-800">
    <video id="hero-video" class="hero-video-bg" muted loop playsinline preload="auto">
        <source src="assets/video/1.mp4" type="video/mp4">
        <source src="/assets/video/1.mp4" type="video/mp4">
        <source src="./assets/video/1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="gradient-edge-top op-6 h-50 color"></div>
    <div class="gradient-edge-bottom"></div>
    <div class="sw-overlay op-8"></div>
    <div class="abs abs-centered z-2 w-100">
        <div class="container fadeInUp scaleIn" data-aos="fade-up" data-aos-delay="300">
            <div class="row g-4 justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div>
                        <div class="d-block d-md-flex mb-2">
                            <div class="d-flex justify-content-center align-items-center me-4">
                                <i class="fa fa-calendar id-color me-3"></i>
                                <h4 class="mb-0">October 1–5, 2025</h4>
                            </div>

                            <div class="d-flex justify-content-center align-items-center me-4">
                                <i class="fa fa-location-pin id-color me-3"></i>
                                <h4 class="mb-0">San Francisco, CA</h4>
                            </div>
                        </div>
                    </div>
                    <h1 class="fs-120 text-uppercase fs-sm-12vw mb-1 lh-1">Innovate. Integrate. Inspire.</h1>
                    <div class="spacer-single"></div>
                    <a class="btn-main mx-2 fx-slide" href="#section-tickets"><span>Get Tickets</span></a>
                    <a class="btn-main btn-line mx-2 fx-slide" href="#section-schedule"><span>View Schedule</span></a>
                </div>

                <div class="col-lg-4 text-lg-end">
                    <p>
                        Step into the future where groundbreaking ideas meet real-world solutions. Join visionaries,
                        technologists, and industry leaders as we explore the next frontier of artificial intelligence.
                    </p>

                    <div class="countdown-s2">
                        <div id="defaultCountdown"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>