:root {
  --primary-color: #764DF0;
  --primary-color-rgb: 118, 77, 240;
  --secondary-color: #442490;
  --secondary-color-rgb: 68, 36, 144;
  --accent-color: #97FB05;
  --accent-color-rgb: 151, 251, 5;
}