<section class="bg-dark section-dark text-light pt-80 relative jarallax" aria-label="section">
    <img src="assets/images/background/3.webp" class="jarallax-img" alt="">
    <div class="gradient-edge-top"></div>
    <div class="gradient-edge-bottom"></div>
    <div class="sw-overlay op-8"></div>
    <div class="container relative z-2">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="subtitle fadeInUp" data-aos="fade-up" data-aos-delay="0">Stay in the Loop</div>
                <h2 class="fadeInUp" data-aos="fade-up" data-aos-delay="200">Join the Future of Innovation</h2>
                <p class="fadeInUp" data-aos="fade-up" data-aos-delay="400">
                    Making better things takes time. Drop us your email to stay in the know as we work to reduce our
                    environmental impact. We'll share other exciting news and exclusive offers, too.
                </p>
            </div>
        </div>

        <form class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-3 fadeInUp" data-aos="fade-up" data-aos-delay="600">
                <input type="email" class="form-control form-control-lg text-center"
                    placeholder="Enter Your Email Address" required>
            </div>
            <div class="col-auto mb-3 fadeInUp" data-aos="fade-up" data-aos-delay="600">
                <button type="submit" class="btn bg-color text-light btn-lg px-4">SIGN UP</button>
            </div>

            <div class="col-12 text-center fadeInUp" data-aos="fade-up" data-aos-delay="800">
                <div class="form-check d-flex justify-content-center mb-2">
                    <input class="form-check-input me-2" type="checkbox" value="" id="updatesCheck" checked>
                    <label class="form-check-label" for="updatesCheck">
                        Keep me updated on other news and exclusive offers
                    </label>
                </div>
                <p class="small text-muted fadeInUp" data-aos="fade-up" data-aos-delay="1000">
                    Note: You can opt-out at any time. See our <a href="#" class="text-decoration-underline">Privacy
                        Policy</a> and <a href="#" class="text-decoration-underline">Terms</a>.
                </p>
            </div>
        </form>
    </div>
</section>