<div id="wrapper">

    <!-- <div class="float-text show-on-scroll">
        <span><a href="#">Scroll to top</a></span>
    </div>
    <div class="scrollbar-v show-on-scroll"></div>

    <div id="de-loader"></div> -->

    <app-navbar></app-navbar>

    <router-outlet />

    <app-about></app-about>

    <app-intelligence></app-intelligence>

    <app-global-networking></app-global-networking>

    <app-testimonial></app-testimonial>

    <app-speakers></app-speakers>

    <app-event-schedule></app-event-schedule>

    <app-event-location></app-event-location>

    <app-faq></app-faq>

    <app-footer></app-footer>